**/node_modules/*
*/npm-debug.log
lerna-debug.log
**/package-lock.json
**/.DS_Store
# **/.env

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
